<div class="inner">

  <% if @talk.image_stored? %>
    <div><%= image_tag(@talk.image.thumb('500x100#').url, alt: @talk.title) %></div>
  <% end %>

  <img src="<%= @talk.speaker.gravatar %>?s=120" alt="<%= @talk.speaker.name %>">
  <h4><%= @talk.speaker.name %></h4>

  <h2><%= @talk.title %></h2>
  <p>De <%= I18n.l(@talk.start, format: '%Hh%M') %> até <%= I18n.l(@talk.finish, format: '%Hh%M') %></p>
  <p><%= @talk.description %></p>
</div>
