<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <% if @title.present? %>
    <title><%= @title %> - Assando Eventos</title>
  <% else %>
    <title>Assando Eventos</title>
  <% end %>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <%= stylesheet_link_tag '//fonts.googleapis.com/css?family=Source+Sans+Pro:300,700,900', media: 'all' %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
</head>
<body>
  <div id="wrapper">

    <%= render 'header' %>

    <%= render 'menu' %>

    <!-- Main -->
    <div id="main">
      <%= render 'flash' %>

      <%= yield %>
    </div>

    <%= render 'footer' %>
  </div>

  <%= javascript_include_tag 'application' %>
</body>
</html>
